<config>
	<categories>
		<category>
			<name>Business</name>
			<id>0</id>
		</category>
		<category>
			<name>Politics</name>
			<id>1</id>
		</category>
		<category>
			<name>Sports</name>
			<id>2</id>
		</category>
		<category>
			<name>Technology</name>
			<id>3</id>
		</category>
	</categories>
	<providers>
		<provider>
			<name>BBC</name>
			<pid>0</pid>
			<pcategory>
				<id>0</id>
				<path>http://feeds.bbci.co.uk/news/business/rss.xml</path>
				<encoding>UTF_8</encoding>
			</pcategory>
			<pcategory>
				<id>1</id>
				<path>http://feeds.bbci.co.uk/news/politics/rss.xml</path>
				<encoding>UTF_8</encoding>
			</pcategory>
			<pcategory>
				<id>3</id>
				<path>http://feeds.bbci.co.uk/news/technology/rss.xml</path>
				<encoding>UTF_8</encoding>
			</pcategory>
		</provider>
		<provider>
			<name>CNN</name>
			<pid>1</pid>
			<pcategory>
				<id>0</id>
				<path>http://rss.cnn.com/rss/edition_business.rss</path>
				<encoding>ISO_8859_1</encoding>
			</pcategory>
			<pcategory>
				<id>2</id>
				<path>http://rss.cnn.com/rss/edition_sport.rss</path>
				<encoding>ISO_8859_1</encoding>
			</pcategory>
			<pcategory>
				<id>3</id>
				<path>http://rss.cnn.com/rss/edition_technology.rss</path>
				<encoding>ISO_8859_1</encoding>
			</pcategory>
		</provider>
	</providers>
</config>